<div class="credits text-center">
        <p>
            <img src="https://blog.cex.io/wp-content/uploads/2014/10/Company-review_Blog.png" alt="logo" width=600 height=100>
        </p>

  
    </div>
</body>
</html>
